h2 {
  font-family: "Verdana";
  font-size: 20px;
  padding: 32px 32px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: #131313;
  letter-spacing: .15em;
}
#columna{
  /*height:calc(100vh-32px-46px); */
  height:43vh;
  overflow-y:scroll;
} 
#columna2{
  /*height:calc(100vh-32px-46px); */
  height:90vh;
  overflow-y:scroll;
} 
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}