<div>
    <h2>Trafico de {{_trafServ.traf.lugar}}</h2>
    <div *ngFor="let item of datos">

            <mat-card class="example-card">
                    <mat-card-content>
                            <div class="row">
                                    <b>Tipo de incidente:</b>
                                    <div *ngIf="item.type==1">
                                        Accidente
                                    </div>
                                    <div *ngIf="item.type==2">
                                        Congestion
                                    </div>
                                    <div *ngIf="item.type==3">
                                        Vehículo averiado
                                    </div>
                                    <div *ngIf="item.type==4">
                                        Atasco
                                    </div>
                                    <div *ngIf="item.type==5">
                                        Miscelánea
                                    </div>
                                    <div *ngIf="item.type==6">
                                        Otros
                                    </div>
                                    <div *ngIf="item.type==7">
                                        Evento planeado
                                    </div>
                                    <div *ngIf="item.type==8">
                                        Peligro en la carretera
                                    </div>
                                    <div *ngIf="item.type==9">
                                        Construcción
                                    </div>
                                    <div *ngIf="item.type==10">
                                        Alerta
                                    </div>
                                    <div *ngIf="item.type==11">
                                        Tiempo
                                    </div>
                            </div>
                            <div class="row">
                                    <b>Ubicación:</b>{{item.point.coordinates}} a {{item.toPoint.coordinates}}
                            </div>
                            <div class="row">
                                    <b>Descricpión:</b>
                                    {{item.description}}
                            </div>
                        
                            <div class="row">
                                    <b>Gravedad:</b>
                                    <div *ngIf="item.severity==1">
                                            Baja
                                    </div>
                                    <div *ngIf="item.severity==2">
                                            Media
                                    </div>
                                    <div *ngIf="item.severity==3">
                                            Moderada
                                    </div>
                                    <div *ngIf="item.severity==4">
                                            Alta
                                    </div>
                            </div>
                            <div class="row" *ngIf="item.roadClosed">
                                    <b>Carretera cerrada</b>
                            </div>
                    </mat-card-content>
            </mat-card>
            <br>


    </div>
</div>
