  img{
    width:200px;
    height:auto;
  }
  h1 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 24px;
    padding: 40px 15px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #131313; 
    letter-spacing: .15em;
   
  }
  #info{
    position:fixed;
    bottom: 0px;
    left:0px;
    font-family:verdana;
    background-color:lightgrey;
    border-style: ridge;
    padding: 16px 16px;
    font-size: 14px;
    width:100%;
  }