
<div><h1 class="text-center">Panel</h1></div>
<div><span style="display:block;text-align:center;"><img src="./assets/panel.png"></span></div>
<br>
<div><span style="display:block;text-align:center;"><button mat-raised-button (click)="acceptar()">Aceptar</button></span></div>
<div id="info"><span style="display:block;text-align:center;">Ana María Valdeón Junquera - Universidad de Oviedo</span></div>
