
<div>
    <div *ngFor="let item of _twitservice.tweetsdata">

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar><img src={{item.user.profile_image_url}}></div>
          <mat-card-title>
            <span>
              <b>{{item.user.name}}</b>
            </span>
          </mat-card-title>
          <mat-card-subtitle>
              <span>{{item.user.screen_name}}</span>
              <span>{{item.created_at | date: 'dd-MM-yyyy hh:mm'}}</span>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
              {{item.text}}
          </p>
        </mat-card-content>
  
      </mat-card>
    </div>
  </div>

