<!-- 
	***************************************************
	* BARRA DE TÍTULO ***************************
	***************************************************
	-->
<div id="title-bar">
    <div id="title"><img src="./favicon.ico" style="width:20px;height:20px; margin:0px 10px 0px 0px">{{title}}</div>
    <div id="title-bar-btns">
	  	<a routerLink="/about" matTooltip="About" ><img src="./assets/info.png" style="width:20px;height:20px; margin:0px 5px 0px 0px"></a>
	  	<a routerLink="/configuration" matTooltip="Configuración" ><img src="./assets/gear.png" style="width:20px;height:20px; margin:0px 5px 0px 0px"></a>
      <a (click)="minimize()" matTooltip="Minimizar" ><img src="./assets/minimize.png" style="width:20px;height:20px; margin:0px 5px 0px 0px"></a>
      <a (click)="maximize()" matTooltip="Maximizar"><img src="./assets/maximize.png" style="width:20px;height:20px; margin:0px 5px 0px 0px"></a>
      <a (click)="close()" matTooltip="Cerrar" ><img src="./assets/close.png" style="width:20px;height:20px; margin:0px 10px 0px 0px"></a>
    </div>
  </div>
<!-- 
	***************************************************
	* CABECERA DE LA PAGINA ***************************
	***************************************************
	-->

<!-- 
	***************************************************
	* MAIN CONTENT ********************
	***************************************************
	-->
<main class="container">
    <router-outlet></router-outlet>
</main>