h1 { color: #CEF0D4; font-family: 'Rouge Script', cursive; font-size: 130px; font-weight: normal; line-height: 48px; margin: 0 0 50px; text-align: center; text-shadow: 1px 1px 2px #082b34; }




footer{
    position:fixed;
	bottom: 0px;
    font-family:verdana;
    background-color:lightgrey;
    border-style: ridge;
    padding: 16px 16px;
    font-size: 14px;
    width:100%;
}
#title-bar {
	-webkit-app-region: drag;
	height: 32px;	
	padding: 0px;
    margin: 0px;  
	color: #ADADAD;
	font-family: sans-serif;
}

#title {
	position: fixed;
	top: 0px;
	left: 12px;	
	line-height: 32px;
	font-size: 14px;
}

#title-bar-btns {
	-webkit-app-region: no-drag;
	position: fixed;
	top: 1px;
	right: 0px;	
}

#title-bar-btns button {
	height: 32px;
	width: 32px;
	background-color: transparent;
	border: none;
	color: #F1F1F1;
	font-size: 16px;
}

#title-bar-btns button:hover {
	background-color: #3F3F41;
}
