h2 { 
    color: #d54d7b; 
    font-family: "Roboto";
    font-size: 40px; 
    text-transform: uppercase;
    line-height: 20px; 
    font-weight: normal; 
    margin-bottom: 20px; 
    margin-top: 20px; 
    text-align: center; 
    text-shadow: 0 1px 1px #fff; 
}
h3 {
    font-family: "Verdana";
    font-size: 20px;
    padding: 10px 10px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #131313;
    letter-spacing: .15em;
}
#formulario{
        border: 2px solid lightseagreen;
        border-radius: 5px;
        padding: 20px;
}



/* Upload button */
.upload {
    display: none;
}
.uploader label {
    cursor: pointer;
    margin: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 40px;
    background: #c3e3fc
    url('https://www.interactius.com/wp-content/uploads/2017/09/folder.png') no-repeat center;
}
#miarchivo{
    position: absolute;
    left: 40px;
}
/**/


.checkbox{
    padding-left: 18px;
}

*{
    box-sizing: border-box;
}